{
  "env": {
    "browser": true
  },
  "extends": "ember",
  "globals": {},
  "rules": {
    "array-bracket-spacing": ["warn", "never"],
    "array-callback-return": 0,
    "arrow-body-style": 0,
    "arrow-spacing": ["warn", {"before": true, "after": true}],
    "camelcase": 0,
    "comma-dangle": ["error", "always-multiline"],
    "consistent-return": 0,
    "curly": 0,
    "dot-notation": 0,
    "eqeqeq": "error",
    "indent": ["warn", 4],
    "key-spacing": 0,
    "linebreak-style": ["error", "unix"],
    "max-len": ["warn", 120],
    "max-params": ["warn", 8],
    "newline-after-var": 0,
    "newline-before-return": 0,
    "newline-per-chained-call": ["error", {"ignoreChainWithDepth": 4}],
    "new-cap": 0,
    "no-caller": "error",
    "no-case-declarations": 0,
    "no-cond-assign": ["error", "except-parens"],
    "no-console": 0,
    "no-debugger": "error",
    "no-empty": "error",
    "no-eq-null": "warn",
    "no-eval": "error",
    "no-implicit-coercion": ["warn", {"boolean": false, "number": false}],
    "no-magic-numbers": 0,
    "no-multi-spaces": 0,
    "no-new": "warn",
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "no-ternary": 0,
    "no-undef": "error",
    "no-undefined": 0,
    "no-empty-function": ["error", { "allow": ["methods"] }],
    "no-unused-expressions": 0,
    "no-unused-vars": ["error", {"vars": "all", "args": "after-used", "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }],
    "no-use-before-define": ["error", { "functions": false }],
    "no-var": "warn",
    "no-warning-comments": 0,
    "object-curly-spacing": ["warn", "never"],
    "operator-linebreak": 0,
    "one-var": 0,
    "prefer-const": "warn",
    "prefer-rest-params": 0,
    "prefer-reflect": 0,
    "space-before-function-paren": ["warn", "never"],
    "space-in-parens": ["warn", "never"],
    "quote-props": 0,
    "wrap-iife": ["warn", "inside"]
  }
}
